:root{
    --clr-orange50:#fff7ed;
    --clr-orange100:#ffedd5;
    --clr-orange200:#fed7aa;
    --clr-orange300:#fdba74;
    --clr-orange400:#fb923c;
    --clr-orange500:#f97316;
    --clr-orange600:#ea580c;
    --clr-orange700:#c2410c;
    --clr-orange800:#9a3412;
    --clr-orange900:#72270d;
    --clr-orange950:#431407;

    --clr-stone50:#fafaf9;

    /* sizes */

    --size-xxs:0.5rem;
    --size-xs:0.75rem;
    --size-sm:0.875rem;
    --size-base:1rem;
    --size-lg:1.125rem;
    --size-xl:1.25rem;
    --size-2xl:1.5rem;
    --size-3xl:1.875rem;
    --size-4xl:2.25rem;
    --size-5xl:3rem;
    --size-6xl:3.75rem;
    --size-7xl:4.5rem;
    --size-8xl:6rem;
    --size-9xl:8rem;
    --size-10xl:10rem;
}


*,
::before,
::after {
	box-sizing: border-box;
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

html{
    scroll-behavior: smooth;
}

body{
     
    font-family: 'Gambarino', serif; 
    background-color: var(--clr-orange100);
   
}

img{
    display: block;
    height: 100%;
    user-select: none;
    
}

a{
    color: var(--clr-orange600);
    cursor: pointer;
    transition: all 0.3s;
}

a:hover{
    color: var(--clr-orange900);
    font-weight: 600;
    letter-spacing: 0.1rem;
}

strong{
    color: var(--clr-orange600);
}


body::-webkit-scrollbar {
    width: 5px;
}
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
}
   
body::-webkit-scrollbar-thumb {
    background-color: var(--clr-orange400);
    outline: 1px solid var(--clr-orange400);
}


/* "https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRzRrNcKiOGAgwufZMZeEcEvo9T1yWIogtWIQingpEO8CgCkbSc" */